@import url(font.css);
@import url(reset.css);

body {font-family: "Work Sans", sans-serif;}

.container {width: 1120px; margin: 0 auto;}
.btn_view {color: #fff; font-size: 15px; background: #C64932; padding: 9px 21px; display: inline-block;}
.btn_view.bk {background: #000;}

header {height: 80px; display: flex; justify-content: space-between; position: absolute; z-index: 5; width: 100%;}
header h1 {width: 350px; display: flex; justify-content: center; align-items: center;}
header h1 img {}
header nav {width: 1000px;}
header nav .gnb {display: flex;}
header nav .gnb li {font-size: 18px; position: relative;}
header nav .gnb li a {padding: 28px 40px; display: block;}

header nav .gnb .lnb {background: rgba(0, 0, 0, 0.7); position: absolute; width: 100%; height: 0px; overflow: hidden; transition: 0.4s; backdrop-filter: blur(5px);}
header nav .gnb .lnb li {}
header nav .gnb .lnb li a {color: #fff; text-align: center; padding: 0; line-height: 70px;}

header nav .gnb:hover .lnb {height: 280px;}
header nav .gnb:hover li:hover {background: #c64932;}
header nav .gnb:hover li:hover a {color: #fff;}

header .more {width: 150px; display: flex; justify-content: center; align-items: center;}
header .more::before {content: ''; width: 4px; height: 18px; background: #000; position: absolute; transition: 0.3s;}
header .more::after {content: ''; width: 4px; height: 18px; background: #000; position: absolute; transform: rotate(90deg); transition: 0.3s;}

header .more:hover::before {transform: rotate(45deg);}
header .more:hover::after {transform: rotate(135deg);}



.hero {}
.hero .textbox {position: absolute; z-index: 4; background: rgba(27, 3, 0, 0.7); left: 50%; width: 600px; padding: 60px 70px; box-sizing: border-box; margin-left: 140px; top: 50%; margin-top: -195px;}
.hero .textbox .title {color: #fff; font-size: 55px;letter-spacing: -2px; margin-bottom: 24px;}
.hero .textbox p {color: #fff; font-size: 18px; margin-bottom: 36px; line-height: 2;}


.section_box {}



.section1 {padding: 113px 0;}
.section1 .container {display: flex; justify-content: space-between; align-items: center;}
.section1 .container .textbox {}
.section1 .container strong {font-size: 40px; margin-bottom: 50px; display: block;}
.section1 .container p {font-size: 18px; line-height: 2; margin-bottom: 37px;}



.section2 {display: flex;}
.section2 .left {width: 50%; background: url(../images/section2_left.png); padding: 113px 0; justify-content: end; display: flex; background-size: cover;}
.section2 .left .textbox {width: 560px; color: #fff; }
.section2 .left .textbox ul {display: flex; flex-direction: column; gap: 96px;}
.section2 .left .textbox ul li {position: relative;}
.section2 .left ul li::before {content: ''; background: #fff; width: 17px; height: 1px; position: absolute; left: 0; top: 18px;}
.section2 .left .textbox strong {padding-left: 34px; font-size: 24px;}
.section2 .left .textbox p {margin-top: 19px; padding-left: 34px; font-size: 14px;}
.section2 .right {width: 50%; background: url(../images/section2_right.png); background-size: cover;}
.section2 .right .textbox {width: 560px;}

.section3 {padding: 113px 0;}
.section3 h2 {display: flex; justify-content: center; font-size: 40px; margin-bottom: 37px;}
.section3 .content {display: flex; justify-content: space-between;}
.section3 .content li {}
.section3 .content li figure {margin-bottom: 20px;}
.section3 .content li .ex {display: block; text-align: center; margin-bottom: 8px; font-weight: bold; font-size: 16px;}
.section3 .content li p {font-size: 18px; display: block; text-align: center;}


footer {background: #071215; display: flex; justify-content: center; align-items: center; padding: 90px 0;}
